<html>
  <head>
  </head>
  <body>

        <h1>Add a new speciality</h1>

        <form class="form" action="/specialities" method='post'>


          <label for='specialityName'>Speciality</label>
          <input id='specialityName' name='specialityName' type='text'>

          <button type='submit'>Add speciality</button>
        </form>
      </div>



  </body>


</html>
