<html>

<body>
<h1>Add a doctor</h1>


  <form action="/doctors" method="post">
      <label for="doctorName">Doctory name</label>
      <input id="doctorName" name="doctorName" type="text"> <button id="button" type="submit">Add</button><br>

  </form>

  <a class="card-link" href="/">Back home</a>
  <a class="card-link" href="/doctors">Back to doctors</a>


  </body>

</html>
