<html>




  <head>
  </head>

  <body>

        <h1>Add a new patient</h1>

        <form class="form" action="/patients" method='post'>

        
          <label for='patientName'>Patient Name</label>
          <input id='patientName' name='patientName' type='text'>
          <label for='birthday'>Birthday</label>
          <input id='birthday' name='birthday' type="date">
          <button type='submit'>Add patient</button>
        </form>
      </div>



  </body>


</html>
